services:
  mqtt-broker:
    image: rmqtt/rmqtt:latest
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "8883:8883"
    volumes:
      - ../RMQTT/jwt.toml:/app/rmqtt/rmqtt-plugins/rmqtt-auth-jwt.toml

  mysql-db:
    image: mariadb:11
    restart: unless-stopped
    ports:
      - "${HOST_DB_PORT}:3306"
    environment:
      MARIADB_ROOT_PASSWORD: rootpass
      MARIADB_DATABASE: ${DATABASE_NAME}
      MARIADB_USER: ${DATABASE_USER}
      MARIADB_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - db-opentak:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "-uroot", "-prootpass"]
      interval: 5s
      timeout: 5s
      retries: 30

  backend:
    build: ../REST/.
    restart: unless-stopped
    environment:
      DATABASE_URL: ${DATABASE_URL}
      MASTER_USER: ${MASTER_USER}
      MASTER_PASSWORD: ${MASTER_PASSWORD}
      MQTT_BROKER_HOST: ${MQTT_BROKER_HOST}
    ports:
      - "${HOST_API_PORT}:3000"
    depends_on:
      mysql-db:
        condition: service_healthy
      mqtt-broker:
        condition: service_started

volumes:
  db-opentak: